{% extends "layout.html" %}
{% block title %}
    <div>
        <a href="{{ url_for('new_course') }}">Create Course</a>
        <a href="{{ url_for('view_course') }}">View Courses</a>
        {% if "user" in session %}
            <a href="{{ url_for('logout') }}">Log Out</a>
        {% endif %}
    </div>
    <div>
        <form method="POST" action={{ url_for("search") }}>
            <input type="search" name="srch" list="searched">
            <input type="submit" value="Search">
            <datalist id="searched">
                {% for name in nameData %}
                    <option value="{{ name[0] }}">
                {% endfor %}
            </datalist>
        </form>
    </div>
{% endblock %}
{% block content %}
    <div>
        <h1>{{ name }}</h1>
        <form method="POST" action="">
            {% if key %}
                Enrollment Key<input type="text" name="ek">
            {% endif %}
            <input type="submit" value="enroll">
        </form>
    </div>
{% endblock %}